@import 'normalize.css';

body {
	background: #EEE;
}

h1 {
	margin: 10px;
	padding: 0px;
	font-family: "Verlag A", "Verlag B";
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	color: #DC3522;
	}

h2 {
	margin: 0px;
	padding: 0px;
	font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	color: #374140;
}

h2 a {
	text-decoration: none;
	color: #1E1E20;
}

header {
	/* border: 3px solid #8AC007; */
	text-align: center;
	margin-top: 250px;
}



/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4. Comma can be used to apply same rules to multiple media queries. */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 

}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 

}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) { 

}

/*iPhone 6+ landscape*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) { 

}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){ 
}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 

	

	h1 {
		margin: 1px;
		padding: 0px;
		font-family: "Verlag A", "Verlag B";
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		color: #DC3522;

	}

	h2 {
		margin: 0px;
    	padding: 0px;
		font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		color: #374140;
	}

	h2 a {
		text-decoration: none;
		color: #1E1E20;
	}

	header {
		/* border: 3px solid #8AC007; */
		text-align: center;
		margin-top: 220px;
	}

}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){ 

}